
<mat-card *ngIf="!isLoading">
  <form
  [formGroup]="myform"
  (submit)="onLogin()">
      <mat-form-field>
          <input
          matInput
          name="EmailInput"
          type="email"
          placeholder="Email ID"
          formControlName="inputUsername"
          >
          <mat-error *ngIf="myform.controls.inputUsername.invlaid">Plase Enter Valid Email</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
          matInput
          type="password"
          name="PasswordInput"
          placeholder="Password"
          formControlName="inputPassword"
          >
          <mat-error *ngIf="myform.controls.inputPassword.invlaid">Plase Enter Valid Password</mat-error>
        </mat-form-field>
        <button
        mat-raised-button
        color="accent"
        type="submit"
        >LOGIN</button>
  </form>
</mat-card>



